<section id="main">
  

  <div class="main-content">
    <div class= "profile">


    <div class="pull-left">
<div class="avatar">
        <img ng-show="driver" src="img/drivers/{{driver.Driver.driverId}}.png" />
       
      </div>
</div>
<div class="pull-left driver-name">
 <img ng-show="driver" src="img/flags/{{driver.Driver.nationality}}.png" /><br/>
        {{driver.Driver.givenName}} {{driver.Driver.familyName}}
</div>
<div class="pull-left">
<div class="driver-status">
      Country: {{driver.Driver.nationality}}   <br/>
      Team: {{driver.Constructors[0].name}}<br/>
      Birth: {{driver.Driver.dateOfBirth}}<br/>
      Biography: <a href="{{driver.Driver.url}}" target="_blank"><img src="img/body/external_link.png"></a>
    </div>
</div>
<!--<div class="btn btn-default pull-right"><a href="./#/drivers">Drivers</a></div>-->
</div>
    <table class="result-table table table-striped table-bordered box list-table">
      <thead>
        <tr><th colspan="5">Formula 1 {{selectedYear}} Results</th></tr>
      </thead>
      <tbody>
        <tr>
          <td>Round</td> <td>Grand Prix</td> <td>Team</td> <td>Grid</td> <td>Race</td>
        </tr>
        <tr ng-repeat="race in races">
          <td>{{race.round}}</td>
          <td><img  src="img/flags/{{race.Circuit.Location.country}}.png" />{{race.raceName}}</td>
          <td>{{race.Results[0].Constructor.name}}</td>
          <td>{{race.Results[0].grid}}</td>
          <td>{{race.Results[0].position}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</section>



<div class="profile-menu" style="background-color:#000;">


</div>